
<table border="1">
    <tr>
        <td>Id</td>
        <td>date</td>
        <td>time</td>
        <td>membre</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% for con in listCons %}
        <tr>
            <td>
                {{ con.id }}
            </td>
            <td>
                {{ con.date|date('Y-m-d') }}
            </td>
            <td>
                {{ con.time }}
            </td>
            <td>
                {{ con.membre_id_id }}
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
</table>